<div class="body">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card login-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control" placeholder="First name" type="text">
                            <br>
                        </div>
                        <div class="col-6">
                            <input class="form-control" placeholder="Last name" type="text">
                        </div>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email" required>
                    <br>
                    <input class="form-control" placeholder="Create password" type="text" required>
                    <br>
                    <select class="form-control" name="" id="">
                        <option value="nairobi">Nairobi</option>
                        <option value="Kiambu">Kiambu</option>
                        <option value="Kajiado">Kajiado</option>
                        <option value="Nyeri">Nyeri</option>
                    </select>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-block btn-outline-info">As talented</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-outline-info pull-right">Hire talented</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>