.body{
    background: #1f2122 !important;
    h1, h3{
        color: #ffffff;
    }
}
.bottom{
    background: #1c1e1f;
}
.footer-text{
 text-align: justify;
 margin-left: 10%;
}
.footer-links{
   a{
    text-decoration: none !important;
    color: #ffffff !important;
    text-decoration: #ffffff;
   }
}
.sc-media, .copyright{
    color: #ffffff !important;
    margin-left: 30%;
    i{
        color:#ffffff;
        font-size: 17pt;
    }
}