<div class="body">
    <h1 class="footer-text"><b>Download Now ... <span class="small">and start connecting with your church
                community</span></b></h1>

    <div class="container" style="padding: 20px !important;">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h5 class="copyright">Download our app on:</h5>
                <br>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <a href=""> <img style="height: 50px; width: 200px;" src="assets/images/googlestore.png" alt=""></a>
            </div>
            <div class="col-3">
                <a href=""> <img style="height: 50px; width: 200px" src="assets/images/Bitmap.png" alt=""></a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="container">
                <br>
                <h6 class="footer-links">
                    <a href="">About us |</a>
                    <a href=""> Privacy policy |</a>
                    <a href=""> Terms & Conditions </a>
                </h6>
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <br>
                <h4 class="copyright">© Eclectics International </h4>
            </div>
        </div>
        <div class="col-4">
            <div class="container sc-media">
                <br>
                <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;
                <i class="fa fa-play-circle"></i>
                &nbsp;&nbsp; <i class="fa fa-twitter-square"> </i> &nbsp;&nbsp;<i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>
</div>