.navbar-expand-lg{
    color: black;
    height: 40px;
}

.navbar-collapse{
    .menus-left{
        margin-left: auto !important;
        font-size: 16pt;
        font-weight: 500;
        margin-left: auto !important;
        padding: 0px 70px 0px 70px !important;
    } 
}
.btn-primary{
    background: #1c5b7e;
    height: 40px !important;
    width: 180px;

}
.appheading{
    color: #1c5b7e;
}