<style>
    .bs-example {
        margin: 20px;
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand">
                <img src="assets/images/Logo_icon.png" height="58" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h3><b><a href="#" class="nav-item nav-link appheading">Talent Hub</a> </b></h3>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav menus-left">
                    <!-- <!-- <a href="#" class="nav-item nav-link active">Home</a> -->

                    <a href="#" class="nav-item nav-link active">How to &nbsp;&nbsp;&nbsp;|</a>
                    <a href="#" class="nav-item nav-link">Download &nbsp;&nbsp;&nbsp;|</a>
                    <a href="#" class="nav-item nav-link">Features &nbsp;&nbsp;&nbsp;|</a>
                    <a routerLink="/login" class="nav-item nav-link">Sign in</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <!-- <a href="#" class="nav-item nav-link active">How to |</a>
                    <a href="#" class="nav-item nav-link">Download |</a>
                    <a href="#" class="nav-item nav-link">Features|</a> -->
                    <!-- <a href="#" class="nav-item nav-link">Sign in</a> -->
                    <button class="btn btn-primary btn-sm btn-block"><b>Sign up</b></button>
                </div>
            </div>
        </nav>
    </div>
</div>