.body{
    overflow-x: hidden;
    background-image: linear-gradient(#1A91DA, #1D4354);
    height: 562px;
    color: #ffffff;
}
.top-header{
    color: #ffffff !important;
    padding-top: 10px !important;
}
.btn-sign-up{
    border-color: #ffffff;
    color: #ffffff;
}