<div class="body" style="background-image:url(assets/images/howto_bg.jpg)">
    <h2><b> &nbsp;&nbsp;Talent categories</b></h2>
    <div class="row howto-container">

        <div class="col-3">
            <div class="container">
                <!-- <button class="float"> <span>1</span></button>
                <br>
                <h4 class="howto-desc"><b>Download and install church 247
                        from google playstore and apple app store</b></h4> -->
                <div class="card t-category">
                    <div class="card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum soluta illo, maiores placeat
                        fugit tempora
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-info pull-right">View talent</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <!-- <button class="float"> <span>2</span></button>
                <br>
                <h4 class="howto-desc"><b>Sign up easily with basic information</b></h4>
                <br> -->
                <div class="card t-category">
                    <div class="card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum soluta illo, maiores placeat
                        fugit tempora
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-info pull-right">View talent</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <!-- <button class="float"> <span>3</span></button>
                <br>
                <h4 class="howto-desc"><b>Select your church & assembly campus</b></h4>
                <br> -->
                <div class="card t-category">
                    <div class="card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum soluta illo, maiores placeat
                        fugit tempora
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-info pull-right">View talent</button>
                    </div>
                </div>
                <br>

            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <!-- <button class="float"> <span>4</span></button>
                <br>
                <h4 class="howto-desc"><b>Watch live services, sermons,
                        engage and connect with your chuch community</b>
                </h4> -->

                <div class="card t-category">
                    <div class="card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum soluta illo, maiores placeat
                        fugit tempora
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-info pull-right">View talent</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="description-section">

        <div id="howitworks" class="row bg-row">
            <br>

            <div class="col-4">

                <img class="features-phone-img" style="width: 190px; height: 370px;"
                    src="assets/images/features_img.png" alt="">
            </div>

            <div class="col-4 div-left">
                <h1 class="features-title"><b>Features</b></h1>
                <div class="row">
                    <div class="col-2">

                        <i class="fa fa-check-circle download"></i>
                    </div>
                    <div class="col-9">

                        <h4 class="download"><b>Watch live and past sermons on the go</b></h4>
                        <br>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="col-9">
                        <h4><b>Make prayer requests & book councelling sessions</b></h4>
                        <br>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="col-9">
                        <h4><b>Give for offering, tithe, donations projects, via mobile money and cards</b></h4>
                        <br>
                    </div>
                    <div class="col-1"></div>
                </div>


            </div>
            <div class="col-4 div-right">

                <div class="row">
                    <div class="col-2">

                        <i class="fa fa-check-circle membership"></i>
                    </div>
                    <div class="col-9">

                        <h4 class="membership"><b>Book church service seat online</b></h4>
                        <br>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="col-9">
                        <h4><b>Engage with your church ministry in the app, e.g men, ladies, music, youth & teens</b>
                        </h4>
                    </div>
                    <div class="col-1"></div>
                </div>
                <section class="curved_row_bg"></section>
            </div>

        </div>
    </div>
</div>