<div class="container">
    <h2><b>Talent Hub - Connecting our talent community</b></h2>
    <p>
        <b>Talented</b> watch live sermons, past sermons, make prayer requests, book service seat, book event,
        access church content & resources, give offering, tithe, donations and project contributions
    </p>
    <p>
        <b>Talent hire:</b> create and manage members, ministries, givings, donations, projects, content, eShop &
        Resources for your congregants in our robust, user friendly church admiistrative web portal
    </p>
    <br>
    <div class="row">
        <div class="col-3">
            <!-- <a href=""> <img class="btns" style="height: 50px; width: 200px;" src="assets/images/googlestore.png"
                    alt=""></a> -->
        </div>
        <div class="col-3">
            <!-- <a href=""> <img class="btns" style="height: 50px; width: 200px" src="assets/images/Bitmap.png" alt=""></a> -->
        </div>
        <div class="col-3"></div>
        <div class="col-3">
            <button class="btn btns btn-default-outline btn-block btn-sign-up">
                <h5>Join our community</h5>
            </button>
        </div>
    </div>
</div>